      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color:rgb(200, 241, 235);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .pranav {
        width: 40vw;
        aspect-ratio: 1;
        background-color: rgb(22, 96, 222);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        animation: skychange 10s ease-in-out infinite;
      }

      @keyframes skychange {
        0% {
          background-color: rgb(80, 54, 13);
        }

        25% {
          background-color: rgb(233, 168, 64);
        }

        50% {
          background-color: #000;
        }

        75% {
          background-color: rgb(233, 168, 64);
        }
        100% {
          background-color: rgb(233, 168, 64);
        }
      }
      .sun {
        width: 18vw;
        aspect-ratio: 1;
        background-color: rgb(228, 114, 38);
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: inherit;
          aspect-ratio: 1;
          border-radius: inherit;
          background-color: #a85454;
          animation: moon 10s ease-in-out infinite;
        }
      }

      @keyframes moon {
        0% {
          translate: 100%;
          scale: 1;
        }

        50% {
          translate: 0%;
          scale: 1;
        }
        100% {
          translate: -100%;
          scale:1;
        }
      }
    